@charset "UTF-8";
.mod-rte, .mod-rte-2col {
  margin-top: 20px;
}
.mod-rte > p, .mod-rte-2col > p {
  margin-top: 12px;
  line-height: 1.6;
}
.mod-rte > p:first-child, .mod-rte-2col > p:first-child {
  margin-top: 0;
}
.ex-style_01A1 .mod-rte, .ex-style_01A1 .mod-rte-2col {
  color: #333333;
}
.ex-style_01A2 .mod-rte, .ex-style_01A2 .mod-rte-2col {
  color: #333333;
}
.ex-style_01A3 .mod-rte, .ex-style_01A3 .mod-rte-2col {
  color: #56534e;
}
.ex-style_01B1 .mod-rte, .ex-style_01B1 .mod-rte-2col {
  color: #333333;
}
.ex-style_01B2 .mod-rte, .ex-style_01B2 .mod-rte-2col {
  color: #333333;
}
.ex-style_01B3 .mod-rte, .ex-style_01B3 .mod-rte-2col {
  color: #333333;
}
.ex-style_01C1 .mod-rte, .ex-style_01C1 .mod-rte-2col {
  color: #333333;
}
.ex-style_01C2 .mod-rte, .ex-style_01C2 .mod-rte-2col {
  color: #333333;
}
.ex-style_01C3 .mod-rte, .ex-style_01C3 .mod-rte-2col {
  color: #45320b;
}

.mod-rte-2col > p {
  margin-top: 10px;
}

.mod-rte2, .mod-rte2-2col {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 0 0 0;
  padding: 10px 15px;
  border: 1px solid #a2c7f9;
  background-color: #eff5fe;
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
}
.mod-rte2 > p, .mod-rte2-2col > p {
  margin: 12px 0 0 0;
}
.mod-rte2 > p:first-child, .mod-rte2-2col > p:first-child {
  margin-top: 0 !important;
}
.ex-style_01A1 .mod-rte2, .ex-style_01A1 .mod-rte2-2col {
  border: 1px solid #97dfe7;
  background-color: #e8fafa;
  color: #333333;
}
.ex-style_01A2 .mod-rte2, .ex-style_01A2 .mod-rte2-2col {
  border: 1px solid #fdf6e5;
  background-color: #e7eef8;
  color: #56534e;
}
.ex-style_01A3 .mod-rte2, .ex-style_01A3 .mod-rte2-2col {
  border: 1px solid #a8bfdc;
  background-color: #e7eef8;
  color: #333333;
}
.ex-style_01B1 .mod-rte2, .ex-style_01B1 .mod-rte2-2col {
  border: 1px solid #67ced9;
  background-color: #dafafa;
  color: #333333;
}
.ex-style_01B2 .mod-rte2, .ex-style_01B2 .mod-rte2-2col {
  border: 1px solid #ffca99;
  background-color: #fff6e5;
  color: #333333;
}
.ex-style_01B3 .mod-rte2, .ex-style_01B3 .mod-rte2-2col {
  border: 1px solid #d1c9a4;
  background-color: #fffce9;
  color: #333333;
}
.ex-style_01C1 .mod-rte2, .ex-style_01C1 .mod-rte2-2col {
  border: 1px solid #7ed1d9;
  background-color: #e3f6f8;
  color: #45320b;
}
.ex-style_01C2 .mod-rte2, .ex-style_01C2 .mod-rte2-2col {
  border: 1px solid #c8dffe;
  background-color: #dce9fb;
  color: #45320b;
}
.ex-style_01C3 .mod-rte2, .ex-style_01C3 .mod-rte2-2col {
  border: none;
  background-color: #59bfcd;
  color: #ffffff;
}

.mod-rte2-2col > p {
  margin: 10px 0 0 0;
}
