@charset "UTF-8";
@import "compass";
$fontSizeM: 15px;

//mod-rteの記述
@mixin common-style-mod-rte {
  margin-top: 20px;
  > p {
    margin-top: 12px;
    line-height: 1.6;
  }
  > p:first-child {
    margin-top: 0;
  }
}
@mixin module-style-mod-rte {}
@mixin deco-style01A1-mod-rte {
  color: #333333;
}
@mixin deco-style01A2-mod-rte {
  color: #333333;
}
@mixin deco-style01A3-mod-rte {
  color: #56534e;
}
@mixin deco-style01B1-mod-rte {
  color: #333333;
}
@mixin deco-style01B2-mod-rte {
  color: #333333;
}
@mixin deco-style01B3-mod-rte {
  color: #333333;
}
@mixin deco-style01C1-mod-rte {
  color: #333333;
}
@mixin deco-style01C2-mod-rte {
  color: #333333;
}
@mixin deco-style01C3-mod-rte {
  color: #45320b;
}
.mod-rte {
  @include common-style-mod-rte;
  @include module-style-mod-rte;
  .ex-style_01A1 & {@include deco-style01A1-mod-rte;}
  .ex-style_01A2 & {@include deco-style01A2-mod-rte;}
  .ex-style_01A3 & {@include deco-style01A3-mod-rte;}
  .ex-style_01B1 & {@include deco-style01B1-mod-rte;}
  .ex-style_01B2 & {@include deco-style01B2-mod-rte;}
  .ex-style_01B3 & {@include deco-style01B3-mod-rte;}
  .ex-style_01C1 & {@include deco-style01C1-mod-rte;}
  .ex-style_01C2 & {@include deco-style01C2-mod-rte;}
  .ex-style_01C3 & {@include deco-style01C3-mod-rte;}
}


//mod-rteが2colの中に入った時の差分の記述
@mixin module-style-mod-rte-2col {
  > p {
    margin-top: 10px;
  }
}

.mod-rte-2col {
  @extend .mod-rte;
  @include module-style-mod-rte-2col;
}


//rte2
@mixin common-style-mod-rte2 {
  @include border-radius();
  margin: 20px 0 0 0;
  padding: 10px 15px;
  border: 1px solid #a2c7f9;
  background-color: #eff5fe;
  text-align: left;
  font-size: $fontSizeM;
  line-height: 1.6;
  > p {
    margin: 12px 0 0 0;
  }
  > p:first-child {
    margin-top: 0 !important;
  }
}
@mixin module-style-mod-rte2 { //１カラムの時
}
@mixin deco-style01A1-mod-rte2 {
  border: 1px solid #97dfe7;
  background-color: #e8fafa;
  color: #333333;
}
@mixin deco-style01A2-mod-rte2 {
  border: 1px solid #fdf6e5;
  background-color: #e7eef8;
  color: #56534e;
}
@mixin deco-style01A3-mod-rte2 {
  border: 1px solid #a8bfdc;
  background-color: #e7eef8;
  color: #333333;
}
@mixin deco-style01B1-mod-rte2 {
  border: 1px solid #67ced9;
  background-color: #dafafa;
  color: #333333;
}
@mixin deco-style01B2-mod-rte2 {
  border: 1px solid #ffca99;
  background-color: #fff6e5;
  color: #333333;
}
@mixin deco-style01B3-mod-rte2 {
  border: 1px solid #d1c9a4;
  background-color: #fffce9;
  color: #333333;
}
@mixin deco-style01C1-mod-rte2 {
  border: 1px solid #7ed1d9;
  background-color: #e3f6f8;
  color: #45320b;
}
@mixin deco-style01C2-mod-rte2 {
  border: 1px solid #c8dffe;
  background-color: #dce9fb;
  color: #45320b;
}
@mixin deco-style01C3-mod-rte2 {
  border: none;
  background-color: #59bfcd;
  color: #ffffff;
}


@mixin module-style-mod-rte2-2col { //2カラム
  > p {
    margin: 10px 0 0 0;
  }
}

.mod-rte2 {
  @include common-style-mod-rte2;
  @include module-style-mod-rte2;
  .ex-style_01A1 & {@include deco-style01A1-mod-rte2;}
  .ex-style_01A2 & {@include deco-style01A2-mod-rte2;}
  .ex-style_01A3 & {@include deco-style01A3-mod-rte2;}
  .ex-style_01B1 & {@include deco-style01B1-mod-rte2;}
  .ex-style_01B2 & {@include deco-style01B2-mod-rte2;}
  .ex-style_01B3 & {@include deco-style01B3-mod-rte2;}
  .ex-style_01C1 & {@include deco-style01C1-mod-rte2;}
  .ex-style_01C2 & {@include deco-style01C2-mod-rte2;}
  .ex-style_01C3 & {@include deco-style01C3-mod-rte2;}
}


@mixin module-style-mod-rte2-2col { //2カラム
  > p {
    margin: 10px 0 0 0;
  }
}

.mod-rte2-2col {
  @extend .mod-rte2;
  @include module-style-mod-rte2-2col;
}



// //2colのなかにrte（旧mod-rte19が使われている部品）→19

// //part-main-012 2col
// .mod-set-2col {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }
// //part-main-030 2col-list
// .mod-set-2col-list {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-032 2col-hyo
// .mod-set-2col-hyo {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-033 2col2
// .mod-set-2col2 {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-035 2col3
// .mod-set-2col3 {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-038 2col-douga
// .mod-set-2col-douga {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-051 2col-hikaku1vs1
// .mod-set-2col-hikaku1vs1 {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-064　2col-tokucho
// .mod-set-2col-tokucho {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-073 2col-tokucho2
// .mod-set-2col-tokucho2 {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }
// //part-main-083 2col-case
// .mod-set-2col-case {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-084 2col-voice
// .mod-set-2col-voice {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-089 2col-case2
// .mod-set-2col-case2 {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-090 2col-voice2
// .mod-set-2col-voice2 {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-115 2col-staff
// .mod-set-2col-staff {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-165 2col-faq
// .mod-set-2col-faq {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-172 2col-office
// .mod-set-2col-office {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-204 2col-hikaku2vs2
// .mod-set-2col-hikaku2vs2 {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-264 2col-voice3
// .mod-set-2col-voice3 {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }

// //part-main-268 2col-case3
// .mod-set-2col-case3 {
//   .mod-rte {
//     @include common-style-mod-rte-2col;
//   }
//   .mod-rte2 {
//     @include common-style-mod-rte2-2col;
//   }
// }